### Importing Dependencies

In [7]:
import pandas as pd
import numpy

### Import CSV into Jupyter

In [8]:
governors = "Resources/US Elections 2020/governors_county_candidate.csv"
president = "Resources/US Elections 2020/president_county_candidate.csv"
senate = "Resources/US Elections 2020/senate_county_candidate.csv"
socialmedia = "Resources/Congress on Social Media/Social_media_statistics.csv"
top100associated = "Resources/Congress on Social Media/Top_100_terms_associated.csv"

### Explore CSV's and Transform the Data
#### ⦁	Review the dataframes to know the fields and define the columns we will need for the analysis of each table.
#### ⦁	Change the name of the columns to match all the tables
#### ⦁	Define the fields  we will we used to join the tables and in this case we change it to match in all the tables
#### ⦁	Filter the information necessary for the analysis.

#### I.	Transform Governors Dataframe

In [9]:
##Editing dataframe; renaming columns, replacing values...

governors_df = pd.read_csv(governors)
govparty_df = governors_df.rename(columns={"party":"Party"})
govparty_df["Party"] = govparty_df["Party"].replace({"DEM": "D", "REP":"R"})
govparty_df.head()

      state             county        candidate Party   votes    won
0  Delaware        Kent County      John Carney     D   44352   True
1  Delaware        Kent County  Julianne Murray     R   39332  False
2  Delaware        Kent County  Kathy DeMatteis   IPD    1115  False
3  Delaware        Kent County    John Machurek   LIB     616  False
4  Delaware  New Castle County      John Carney     D  191678   True

In [10]:
##Filtering data for Democrats and Republicans
##Final df 

govfinal_df = govparty_df.loc[(govparty_df['Party']== 'D') | (govparty_df['Party']== 'R')]
govfinal_df.head(10)

       state             county        candidate Party   votes    won
0   Delaware        Kent County      John Carney     D   44352   True
1   Delaware        Kent County  Julianne Murray     R   39332  False
4   Delaware  New Castle County      John Carney     D  191678   True
5   Delaware  New Castle County  Julianne Murray     R   82545  False
8   Delaware      Sussex County  Julianne Murray     R   68435   True
9   Delaware      Sussex County      John Carney     D   56873  False
12   Indiana       Adams County     Eric Holcomb     R    9441   True
14   Indiana       Adams County      Woody Myers     D    2143  False
15   Indiana       Allen County     Eric Holcomb     R   98406   True
16   Indiana       Allen County      Woody Myers     D   53895  False

#### II. Transform President Dataframe

In [11]:
##Editing dataframe; renaming columns, replacing values...

president_df = pd.read_csv(president)
preparty_df = president_df.rename(columns={"party":"Party","total_votes":"votes"})
preparty_df["Party"] = preparty_df["Party"].replace({"DEM": "D", "REP":"R"})
preparty_df.head()

      state             county      candidate Party   votes    won
0  Delaware        Kent County      Joe Biden     D   44552   True
1  Delaware        Kent County   Donald Trump     R   41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB    1044  False
3  Delaware        Kent County  Howie Hawkins   GRN     420  False
4  Delaware  New Castle County      Joe Biden     D  195034   True

In [12]:
##Filtering data for Democrats and Republicans
##Final df 

prefinal_df = preparty_df.loc[(preparty_df['Party']== 'D') | (preparty_df['Party']== 'R')]
prefinal_df.head(10)

,state,county,candidate,Party,votes,won
0,Delaware,Kent County,Joe Biden,D,44552,True
1,Delaware,Kent County,Donald Trump,R,41009,False
4,Delaware,New Castle County,Joe Biden,D,195034,True
5,Delaware,New Castle County,Donald Trump,R,88364,False
8,Delaware,Sussex County,Donald Trump,R,71230,True
9,Delaware,Sussex County,Joe Biden,D,56682,False
12,District of Columbia,District of Columbia,Joe Biden,D,39041,True
13,District of Columbia,District of Columbia,Donald Trump,R,1725,False
19,District of Columbia,Ward 2,Joe Biden,D,29078,True
20,District of Columbia,Ward 2,Donald Trump,R,2918,False

#### III. Transform Senate Dataframe

In [13]:
## senate: Editing dataframe; renaming columns, replacing values...

senate_df = pd.read_csv(senate)
senparty_df = senate_df.rename(columns={"party":"Party","total_votes":"votes"})
senparty_df["Party"] = senparty_df["Party"].replace({"DEM": "D", "REP":"R"})
senparty_df.head()

      state             county      candidate Party  votes
0  Delaware        Kent County  Lauren Witzke     R  38571
1  Delaware        Kent County    Mark Turley   IPD   1553
2  Delaware        Kent County   Nadine Frost   LIB    958
3  Delaware  New Castle County  Lauren Witzke     R  80081
4  Delaware  New Castle County    Mark Turley   IPD   4277

In [14]:
##Filtering data for Democrats and Republicans
##Final df 

senfinal_df = senparty_df.loc[(senparty_df['Party']== 'D') | (senparty_df['Party']== 'R')]
senfinal_df.head(10)

       state             county          candidate Party  votes
0   Delaware        Kent County      Lauren Witzke     R  38571
3   Delaware  New Castle County      Lauren Witzke     R  80081
6   Delaware      Sussex County  Christopher Coons     D  56137
9    Georgia     Appling County         Jon Ossoff     D   1753
11   Georgia    Atkinson County         Jon Ossoff     D    773
14   Georgia       Bacon County         Jon Ossoff     D    591
16   Georgia       Baker County         Jon Ossoff     D    648
18   Georgia     Baldwin County         Jon Ossoff     D   8783
20   Georgia       Banks County         Jon Ossoff     D    899
22   Georgia      Barrow County         Jon Ossoff     D  10066

#### IIII. Transform Social Media Dataframe

In [15]:
##Printing df 

socialmedia_df = pd.read_csv(socialmedia)
socialmedia_df.head()

,Platform,Party,Bioguide ID,Number of Active Accounts,Max Total Followers,Start of Term,End of Term,First Post,Last Post,Total Posts,Average Post Favorites/Reactions,Average Post Retweets/Shares
0,facebook,R,A000055,1,22404.0,2019-01-01,NaN,2019-01-18,2020-05-29,325.0,108,35
1,facebook,R,A000360,2,57405.0,2019-01-01,NaN,2019-01-02,2020-05-31,677.0,177,23
2,facebook,(R),A000367,2,140238.0,2019-01-01,NaN,2019-01-01,2020-05-16,57.0,2197,495
3,facebook,R,A000369,1,9376.0,2019-01-01,NaN,2019-01-04,2020-05-18,89.0,118,18
4,facebook,D,A000370,2,19146.0,2019-01-01,NaN,2019-01-01,2020-05-30,612.0,54,10

In [16]:
##Unique values

socialmedia_df["Party"].unique()

array(['R', '(R)', 'D', '(D)'], dtype=object)

In [17]:
##Unique values

socialmedia_df["First Post"].unique()

array(['2019-01-18', '2019-01-02', '2019-01-01', '2019-01-04',
       '2019-01-05', '2019-01-03', '2019-01-07', '2019-09-18',
       '2019-01-10', '2019-01-09', '2019-01-11', '2019-01-08',
       '2019-01-16', '2019-01-14', '2020-05-19', '2019-01-15',
       '2019-03-12', '2019-06-05', '2019-02-20', '2019-02-22',
       '2019-01-06', '2019-02-06', '2020-01-01', '2020-05-06',
       '2019-09-17', '2019-01-23', '2019-04-08', '2020-05-20',
       '2019-02-14', '2019-06-14', '2019-06-04', '2019-02-12',
       '2019-04-10', '2019-01-31', '2019-01-13'], dtype=object)

In [18]:
##Editing dataframe; filtering data for Democrats and Republicans

socialmedia_df2 =socialmedia_df
socialmedia_df2['Party']=socialmedia_df2["Party"].replace({"(R)": "R", "(D)":"D"})
socialmedia_df2.head()

,Platform,Party,Bioguide ID,Number of Active Accounts,Max Total Followers,Start of Term,End of Term,First Post,Last Post,Total Posts,Average Post Favorites/Reactions,Average Post Retweets/Shares
0,facebook,R,A000055,1,22404.0,2019-01-01,NaN,2019-01-18,2020-05-29,325.0,108,35
1,facebook,R,A000360,2,57405.0,2019-01-01,NaN,2019-01-02,2020-05-31,677.0,177,23
2,facebook,R,A000367,2,140238.0,2019-01-01,NaN,2019-01-01,2020-05-16,57.0,2197,495
3,facebook,R,A000369,1,9376.0,2019-01-01,NaN,2019-01-04,2020-05-18,89.0,118,18
4,facebook,D,A000370,2,19146.0,2019-01-01,NaN,2019-01-01,2020-05-30,612.0,54,10

In [19]:
##Editing dataframe; dropping columns (inplace method)
##Printing df

socialmedia_df2.drop(["Bioguide ID","Number of Active Accounts","Start of Term",\
                                  "End of Term", "First Post", "Last Post"], axis=1, inplace=True)
socialmedia_df2.head(10)

,Platform,Party,Max Total Followers,Total Posts,Average Post Favorites/Reactions,Average Post Retweets/Shares
0,facebook,R,22404.0,325.0,108,35
1,facebook,R,57405.0,677.0,177,23
2,facebook,R,140238.0,57.0,2197,495
3,facebook,R,9376.0,89.0,118,18
4,facebook,D,19146.0,612.0,54,10
5,facebook,D,11086.0,317.0,137,15
6,facebook,R,147433.0,673.0,76,14
7,facebook,R,69133.0,1347.0,503,180
8,facebook,R,45163.0,568.0,148,26
9,facebook,D,21259.0,1409.0,102,9

In [43]:
socialmedia_df3 = socialmedia_df2.rename(columns={"Max Total Followers":"Max_Followers",
                                                  "Total Posts":"Total_Posts",
                                                 "Average Post Favorites/Reactions":"Average_FavReac",
                                                 "Average Post Retweets/Shares":"Average_RetweetsShares"})

In [44]:
socialmedia_df3.head(10)

,Platform,Party,Max_Followers,Total_Posts,Average_FavReac,Average_RetweetsShares
0,facebook,R,22404.0,325.0,108,35
1,facebook,R,57405.0,677.0,177,23
2,facebook,R,140238.0,57.0,2197,495
3,facebook,R,9376.0,89.0,118,18
4,facebook,D,19146.0,612.0,54,10
5,facebook,D,11086.0,317.0,137,15
6,facebook,R,147433.0,673.0,76,14
7,facebook,R,69133.0,1347.0,503,180
8,facebook,R,45163.0,568.0,148,26
9,facebook,D,21259.0,1409.0,102,9

#### IIIII. Transform top100associated Dataframe

In [20]:
##Printing df

top100associated_df = pd.read_csv(top100associated)
top100associated_df.head()

,Term,Year,Party,Average Percentage Effect,Number of Facebook Posts,Percentage Effect on Facebook Reactions,Percentage Effect on Facebook Shares,Number of Tweets,Percentage Effect on Twitter Favorites,Percentage Effect on Twitter Retweets
0,adam schiff,2019,R,5.621,981,1.963,2.483,903,8.198,9.839
1,speaker pelosi,2020,R,3.029,1047,2.223,3.125,743,3.648,3.120
2,fbi,2018,R,2.976,893,0.766,1.082,993,4.523,5.534
3,house democrat,2020,R,2.772,746,1.625,1.883,588,3.761,3.819
4,china,2020,R,2.491,2555,1.261,1.238,3638,2.784,4.682

In [21]:
##Unique values

top100associated_df["Party"].unique()

array(['R', 'D'], dtype=object)

In [22]:
##Unique values

top100associated_df["Year"].unique()

array([2019, 2020, 2018, 2015, 2016, 2017], dtype=int64)

In [23]:
##Editing dataframe; dropping columns (inplace method)
##Printing df

top100associated_df2 = top100associated_df.loc[(top100associated_df['Year']== 2019) | (top100associated_df['Party']== 2020)]
top100associated_df2.head(10)

,Term,Year,Party,Average Percentage Effect,Number of Facebook Posts,Percentage Effect on Facebook Reactions,Percentage Effect on Facebook Shares,Number of Tweets,Percentage Effect on Twitter Favorites,Percentage Effect on Twitter Retweets
0,adam schiff,2019,R,5.621,981,1.963,2.483,903,8.198,9.839
7,schiff,2019,R,2.119,1265,0.897,1.094,1638,2.798,3.686
8,impeachment inquiry,2019,R,2.094,1073,0.928,1.095,757,2.987,3.366
10,human right,2019,R,2.001,389,0.601,0.435,702,2.839,4.128
11,impeachment,2019,R,1.963,4794,1.650,1.368,5735,2.198,2.637
14,fbi,2019,R,1.744,545,0.863,1.095,789,2.172,2.848
21,house democrat,2019,R,1.312,2347,0.459,1.048,1413,1.643,2.100
28,illegal immigrant,2019,R,1.203,676,0.832,2.135,448,0.767,1.076
31,speaker pelosi,2019,R,1.187,1575,0.440,0.871,967,1.600,1.838
33,crisis southern border,2019,R,1.169,784,1.227,1.826,640,0.825,0.799

In [37]:
top100associated_df3 = top100associated_df2.rename(columns={"Average Percentage Effect":"Average_Effect",
                                                            "Number of Facebook Posts":"Facebook_Posts",
                                                            "Percentage Effect on Facebook Reactions":"Facebook_Reactions",
                                                            "Percentage Effect on Facebook Shares":"Facebook_Shares",
                                                            "Number of Tweets": "Number_Tweets",
                                                            "Percentage Effect on Twitter Favorites":"Effect_TwitterFavorites",
                                                            "Percentage Effect on Twitter Retweets": "Effect_TwitterRetweets"})

In [38]:
top100associated_df3.head(10)

,Term,Year,Party,Average_Effect,Facebook_Posts,Facebook_Reactions,Facebook_Shares,Number_Tweets,Effect_TwitterFavorites,Effect_TwitterRetweets
0,adam schiff,2019,R,5.621,981,1.963,2.483,903,8.198,9.839
7,schiff,2019,R,2.119,1265,0.897,1.094,1638,2.798,3.686
8,impeachment inquiry,2019,R,2.094,1073,0.928,1.095,757,2.987,3.366
10,human right,2019,R,2.001,389,0.601,0.435,702,2.839,4.128
11,impeachment,2019,R,1.963,4794,1.650,1.368,5735,2.198,2.637
14,fbi,2019,R,1.744,545,0.863,1.095,789,2.172,2.848
21,house democrat,2019,R,1.312,2347,0.459,1.048,1413,1.643,2.100
28,illegal immigrant,2019,R,1.203,676,0.832,2.135,448,0.767,1.076
31,speaker pelosi,2019,R,1.187,1575,0.440,0.871,967,1.600,1.838
33,crisis southern border,2019,R,1.169,784,1.227,1.826,640,0.825,0.799

### Exporting final DataFrames to CSV formats
#### ⦁ The final step in Jupyter is to export the transformed tables into CSV

In [36]:
## govfinal_df: govfinal_df
govfinal_df.to_csv("Output/Governors.csv",index=False)

## prefinal_df: prefinal_df
prefinal_df.to_csv("Output/Presidents.csv",index=False)

## senfinal_df: senfinal_df
senfinal_df.to_csv("Output/Senators.csv",index=False)

## socialmedia_df2: socialmedia_df2
socialmedia_df3.to_csv("Output/Social_Media.csv",index=False)

## top100associated_df2: top100associated_df2
top100associated_df3.to_csv("Output/Top100.csv",index=False)