In [2]:
#Import Dependencies
import pandas as pd
import numpy

In [3]:
#Import CSV Files
governors = "Resources/US Elections 2020/governors_county_candidate.csv"
president = "Resources/US Elections 2020/president_county_candidate.csv"
senate = "Resources/US Elections 2020/senate_county_candidate.csv"
socialmedia = "Resources/Congress on Social Media/Social_media_statistics.csv"
top10events = "Resources/Congress on Social Media/Top_10_events.csv"
top100associated = "Resources/Congress on Social Media/Top_100_terms_associated.csv"
top100used = "Resources/Congress on Social Media/Top_100_terms_used_most.csv"

In [4]:
governors_df = pd.read_csv(governors)
governors_df.head()

      state             county        candidate party   votes    won
0  Delaware        Kent County      John Carney   DEM   44352   True
1  Delaware        Kent County  Julianne Murray   REP   39332  False
2  Delaware        Kent County  Kathy DeMatteis   IPD    1115  False
3  Delaware        Kent County    John Machurek   LIB     616  False
4  Delaware  New Castle County      John Carney   DEM  191678   True

In [5]:
president_df = pd.read_csv(president)
president_df.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [6]:
senate_df = pd.read_csv(senate)
senate_df.head()

      state             county      candidate party  total_votes
0  Delaware        Kent County  Lauren Witzke   REP        38571
1  Delaware        Kent County    Mark Turley   IPD         1553
2  Delaware        Kent County   Nadine Frost   LIB          958
3  Delaware  New Castle County  Lauren Witzke   REP        80081
4  Delaware  New Castle County    Mark Turley   IPD         4277

In [7]:
socialmedia_df = pd.read_csv(socialmedia)
socialmedia_df.head()

,Platform,Party,Bioguide ID,Number of Active Accounts,Max Total Followers,Start of Term,End of Term,First Post,Last Post,Total Posts,Average Post Favorites/Reactions,Average Post Retweets/Shares
0,facebook,R,A000055,1,22404.0,2019-01-01,NaN,2019-01-18,2020-05-29,325.0,108,35
1,facebook,R,A000360,2,57405.0,2019-01-01,NaN,2019-01-02,2020-05-31,677.0,177,23
2,facebook,(R),A000367,2,140238.0,2019-01-01,NaN,2019-01-01,2020-05-16,57.0,2197,495
3,facebook,R,A000369,1,9376.0,2019-01-01,NaN,2019-01-04,2020-05-18,89.0,118,18
4,facebook,D,A000370,2,19146.0,2019-01-01,NaN,2019-01-01,2020-05-30,612.0,54,10

In [8]:
top10events_df = pd.read_csv(top10events)
top10events_df.head()

,Party,Start Date,End Date,Average Percentage Change,Percentage Change in Facebook Reactions,Percentage Change in Facebook Shares,Percentage Change in Twitter Favorites,Percentage Change in Twitter Retweets
0,R,2019-12-17,2019-12-18,4.467,1.580,2.811,6.271,7.209
1,R,2018-01-18,2018-01-20,4.351,3.503,9.625,2.147,2.130
2,R,2019-10-27,2019-10-27,3.956,4.700,5.000,3.176,2.948
3,R,2019-04-02,2019-04-02,2.566,0.343,0.462,4.941,4.520
4,R,2019-10-21,2019-10-21,2.477,0.255,1.695,3.220,4.739

In [9]:
top100associated_df = pd.read_csv(top100associated)
top100associated_df.head()

,Term,Year,Party,Average Percentage Effect,Number of Facebook Posts,Percentage Effect on Facebook Reactions,Percentage Effect on Facebook Shares,Number of Tweets,Percentage Effect on Twitter Favorites,Percentage Effect on Twitter Retweets
0,adam schiff,2019,R,5.621,981,1.963,2.483,903,8.198,9.839
1,speaker pelosi,2020,R,3.029,1047,2.223,3.125,743,3.648,3.120
2,fbi,2018,R,2.976,893,0.766,1.082,993,4.523,5.534
3,house democrat,2020,R,2.772,746,1.625,1.883,588,3.761,3.819
4,china,2020,R,2.491,2555,1.261,1.238,3638,2.784,4.682

In [10]:
top100used_df = pd.read_csv(top100used)
top100used_df.head()

,Term,Party,Positive-to-Negative Ratio,Proportion of Party,Proportion of Other Party
0,pro growth,R,6.872,0.851,0.124
1,bureaucrat,R,4.619,0.851,0.184
2,unborn,R,3.761,0.807,0.215
3,illegal immigrant,R,3.335,0.786,0.236
4,pro life,R,3.238,0.773,0.239